* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

/* Slider */

.range_container {
  position: absolute;
  bottom: 5%;
  left: 25%;
  z-index: 10;
  width: 50vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.range_container p {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.label {
  font-size: 20px;
  font-weight: 400;
}

.notice {
  font-size: 14px;
  font-weight: 200;
}

.range {
  width: 300px;
}

.range_input {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  height: 13px;
  border-radius: 6px;
  background: #f1f1f1;
  outline: none;
  padding: 0;
  margin: 0;
}

.range_input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f9ca24;
  border: #f9ca24 5px solid;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range_input::-webkit-slider-thumb:hover {
  background: #f0932b;
}

.range_input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #f0932b;
  border: #f9ca24 5px solid;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range_input::-moz-range-thumb:hover {
  background: #f9ca24;
}

/* remove border */
input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
